.topnav {
  top: 0px;
  background-color: #03182e;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
}
 body {
  background-color: #fafafa;
 }

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 20px;
}

.topnav a {
  color: white;
  display: flex;
  vertical-align: bottom;
  margin: 20px;
  text-decoration: none;
  width: 100%;
}

.nav_button {
  margin-left: auto;
  background-color: #a61909;
  color: white;
  border-radius: 5px;
  border-color: #a61909;
  width: auto;
  height: 25px;
  text-align: center;
}

.breadcrumb {
  margin-top: 0px;
}

.crumbs ol {
  list-style-type: none;
  background-color: rgb(240, 240, 240);
}

.crumb {
  display: inline-block;
}

.crumb a {
  color: blue;
  padding-right: 5px;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  padding: 0 3px;
  content: ">";
}

.texte_button {
  color: blue;
  text-decoration: none;
  border-radius: 5px;
  border-color: lightgray;
  background-color: white;

  border: 1px solid;
  border-color: lightgray;

}

.icon {
  width: 15px;
  padding-right: 5px;
}
em {
  color: gray;
}

p {
  float: left;
  width: 350px;
  height: 100%;
}

.photo {
  width: 150px;
  height: auto;
}

.legend {
  font-size: 13px;
  margin-top: 1px;
}

.texte a {
  text-decoration: none;
  color: blue;
}

.section1 {
  width: 600px;
  height: 725px;
  border: lightgray solid 1px;
  background-color: white;
}

.carte {
  float: right;
  width: 200px;
  height: 500px;
  border: lightgray solid 1px;
  margin-right: 20px;
  align-items: center;
}